<div class="container">

  <h1>Your profile</h1>

  <ngb-alert *ngIf="alertMessage" type="success" (close)="alertMessage = null">
      {{alertMessage}}
  </ngb-alert>

  <div class="card-body">
    <form>
      <div class="form-group">
          <p><label>Email :</label>
            <input readonly type="text" value={{user.email}}>
          </p>
        <p><label>First Name :</label>
          <input #first type="text" value={{userDetails.first}}>
        </p>
        <p><label>Last Name :</label>
          <input #last type="text" value={{userDetails.last}}>
        </p>
        <p>
            <label>Created :</label>
            <input readonly type="text" value={{userDetails.created}} >
        </p>
        <p>
          <label>Last Login :</label>
        <input readonly type="text" value={{userDetails.lastLogin}} >
        </p>

        <p>
            <label> Is Admin :</label>
          <input readonly type="text" value={{userDetails.admin}} >
          </p>
        
      </div>
    </form>
    <button type="button" (click)="save(first.value, last.value)" class="btn btn-primary">Save</button>
  </div>

<div class="col-md-4">
  <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
</div>

</div>